        @import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
        @font-face {
            font-family: geometria;
            src: url('../css/Geometria/Geometria-Light.ttf') format('truetype');
        }
        
        html,
        body,
        div,
        span,
        applet,
        object,
        iframe,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        p,
        blockquote,
        pre,
        a,
        abbr,
        acronym,
        address,
        big,
        cite,
        code,
        del,
        dfn,
        em,
        font,
        img,
        ins,
        kbd,
        q,
        s,
        samp,
        small,
        strike,
        strong,
        sub,
        sup,
        tt,
        var,
        b,
        u,
        i,
        center,
        dl,
        dt,
        dd,
        ol,
        ul,
        li,
        fieldset,
        form,
        label,
        legend,
        caption {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            font-size: 100%;
            vertical-align: baseline;
            background: transparent;
        }
        
        body {
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            box-sizing: border-box;
            height: 100vh;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            padding: 0 30px;
            width: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url("./DSC_0631\ -\ Copy.JPG") no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            margin: 0;
            padding: 0;
            font-family: geometria;
        }
        /* STYLING OF TAGS IN HEADER ELEMENT */
        
        nav ul {
            margin-top: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        
        nav ul li a {
            text-decoration: none;
            color: #fff;
            margin-right: 2em;
            font-size: 17px;
        }
        
        nav ul {
            display: flex;
            list-style-type: none;
        }
        
        .CV {
            border: 100%;
        }
        /* Create two columns/boxes that floats next to each other */
        
        .aside {
            float: right;
            width: 30%;
            height: 300px;
            /* only for demonstration, should be removed */
            background: transparent;
            padding: 20px;
        }
        
        .h1 {
            text-align: center;
            font-size: 3rem;
            color: #FFFFFF;
            font-family: 'Playfair Display', serif;
            font-weight: bolder;
            float: left;
            margin: 30px 15% 30px 10%;
        }
        /*.h2 {
            text-align: center;
            font-size: 1rem;
            color: #FFFFFF;
            font-family: 'Playfair Display', serif;
            font-weight: small;
            float: left;
            margin: 30px 15% 30px 10%;
        }*/
        
        .style1,
        .style2,
        .style3,
        .style4,
        .style5,
        .style6,
        .style7,
        .style8,
        .style9,
        .style10,
        .style11,
        .style12,
        .style13,
        .style14,
        .style15,
        .style16 {
            color: #ffffff;
        }
        
        h2 {
            color: #ffffff
        }
        
        p {
            color: #ffffff;
            font-weight: bold;
        }
        
        .img {
            border-radius: 50%;
        }
        
        #text1 {
            width: 200%;
            opacity: 60%;
            height: 10%;
            border: 50%;
        }
        
        .refine {
            width: 100%;
            opacity: 60%;
            height: 1 rem;
            border: 100%;
        }
        
        .CV1 {
            background-color: rgb(22, 33, 66);
            border: 100%;
            height: 100px;
            color: white;
            border: 100%;
        }
        
        h1 {
            color: #C5D86D;
            text-decoration: underline;
            border: 100%;
            font-size: 1.5rem;
        }
        
        .special {
            font-weight: bold;
        }
        
        #text1 {
            color: white;
            border: 100%;
        }
        
        #text2 {
            color: blue;
            border: 100%;
        }
        
        #text3 {
            color: white;
            border: 100%;
        }
        
        .profile 15 {
            background-color: white;
            text-decoration: none;
            color: black;
            Padding: 0%;
            margin: 1fr;
            font-weight: bold;
            border: 100%;
        }
        /*.btn,
.btn1,
.btn2,
.btn3,
.btn4,
.btn5,
.btn6,
.btn7,
*/
        
        .btn,
        .btn1 {
            display: inline-block;
            background: gray;
            color: white;
            Padding: 0.4rem 0.4rem;
            border: none;
            cursor: pointer;
            font-size: 1.1rem;
            border-radius: 30px;
            text-align: center;
        }
        
        a {
            color: #C5D86D;
        }
        
        .btn-group button {
            background-color: gray;
            /* Green background */
            border: 1px solid green;
            /* Green border */
            color: white;
            /* White text */
            padding: 10px 24px;
            /* Some padding */
            cursor: pointer;
            /* Pointer/hand icon */
            float: left;
            /* Float the buttons side by side */
            justify-content: space-between;
            border-radius: 30px;
            display: inline-block;
        }
        
        .btn-group button:not(:last-child) {
            border-right: none;
            /* Prevent double borders */
        }
        /* Clear floats (clearfix hack) */
        
        .btn-group:after {
            content: "";
            clear: both;
            display: inline-block;
        }
        /* Add a background color on hover */
        
        .btn-group button:hover {
            background-color: #3e8e41;
        }
        
        .btn10,
        .btn11,
        .btn12,
        .btn13,
        .btn14 {
            display: inline-block;
            background: gray;
            color: white;
            border-color: black;
            Padding: 0.4rem 0.4rem;
            border: none;
            cursor: pointer;
            font-size: 1.1rem;
            border-radius: 30px;
            text-align: center;
        }
        
        .profile {
            background-color: white;
            text-decoration: none;
            color: black;
            Padding: 0%;
            margin: 1fr;
            font-weight: normal;
            border: 100%;
        }
        
        footer {
            background-color: white;
            color: black;
            text-align: center;
            border: 100%;
            padding: 0%;
        }